body {
	background-color: rgb(105, 212, 26);
	font-family: helvetica;
	font-size: 30px;
	color:white;
	text-shadow: 1px 1px 1px black;
	width: 85%;
	margin:auto;
	text-align:center;
	padding-top: 50px;
	
}

h1 {
	font-size:  70px;
	text-shadow: 2px 2px 2px black;
	color:rgb(93, 98, 89);
}

h2 {
	padding: 25px;
}

input {
	padding:10px;
	font-size: 20px;
}

button {
	background-color: black;
	color: white;
	padding: 10px;
	vertical-align:top;
	font-size: 20px;
	width:300px;
}

div {
	margin-top: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 50px;

}

.clearform {
	display:none;
}

.darken {
	background-color: rgba(74, 69, 69, 0.57);
	color: rgba(77, 69, 69, 0.49);
}
